body{
    overflow-x: hidden;
    margin: 0;
}

.article{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.article--home{
    flex-wrap: wrap;
}

.article--projects{
    justify-content: space-between;
}

.article--contact{
    background-color: rgb(47,47,47);
    color: white;
    justify-content: space-around;
    align-items: center;
}

.article__title{
    text-align: center;
    font-family: Helvetica, sans-serif;
}


.article__about-me{
    width: 70%;
    height: 100vh;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 100;
    text-transform: none;
}

.article__wrap-link{
    width: 30%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.article__wrap-link--contact{
    color: #fff;
    background-color: rgb(47,47,47);
}

.tlacitko{
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.article__wrap-link--contact .tlacitko{
    text-decoration: underline rgb(47,47,47);
    color: #fff;
}

.article__wrap-link--projects .tlacitko{
    text-decoration: underline white;
    color: #000;
}

.article div:hover .tlacitko{
    text-decoration: underline red;
}

.article__par{
    text-indent: 1rem;
    margin: 0 10rem;
    line-height: 1.5rem;
    font-family: Helvetica,sans-serif;
}

.article__par:first-child{
    margin-bottom: 1rem;
}

/* END Home */


/* My projects */

section{
    display: flex;
    justify-content: center;
}

section p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    font-family: Helvetica, sans-serif;
    width: 500px;
    border: 1px solid #dfe1e5;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

section p:hover{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

section p span{
	margin: .2rem .2rem 1rem .2rem;
	text-align: center;
}

section p a{
    text-decoration: none;
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: .5rem;
}

section p a img{
    height: auto;
    width: 100%;
}

.article__footer{
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 1rem;
}

.article__footer--link{
    text-decoration: none;
}

.article__footer--img{
    width: 40px;
    height: 40px;
}
/* END My projects */


/* Contact */

form{
    display: flex;
    flex-direction: column;
}

form p:nth-child(2){
    margin: 0;
}

form p:last-child{
    display: flex;
    justify-content: space-between;
}

input, textarea{
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    border: 0;
    padding: 0.5rem;
    background-color: black;
    color: #fff;
}

input[name="name"]{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: #fff;
    color: #333;
}

/* END Contact */
