body{
    overflow-x: hidden;
    margin: 0;
}

article{
    height: 100vh;
}

article:first-child{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

article:first-child div:first-child{
    width: 70%;
    height: 100vh;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 100;
    text-transform: none;
}

article:first-child div{
    width: 30%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

article:first-child div:last-child{
    color: #fff;
    background-color: rgba(0,0,0,.6);
}

article div{
}
