body{
    overflow-x: hidden;
    margin: 0;
}

article{
    height: 100vh;
}

article:first-child{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

article:first-child div:first-child{
    width: 70%;
    height: 100vh;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 100;
    text-transform: none;
}

article:first-child div{
    width: 30%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article div a.tlacitko{
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

article div:last-child a.tlacitko{
    text-decoration: underline rgb(88,88,88);
    color: #fff;
}

article div:nth-child(2) a.tlacitko{
    text-decoration: underline white;
    color: #000;
}

article div:hover a.tlacitko{
    text-decoration: underline red;
}

article:first-child div{
    width: 30%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

article:first-child div:last-child{
    color: #fff;
    background-color: rgba(0,0,0,.65);
}

article div p{
    text-indent: 1rem;
    margin: 0 10rem;
    line-height: 1.5rem;
}

article div p:first-child{
    margin-bottom: 1rem;
}